/* about */

.about {
    padding: 20px;
    margin: -35px;
}

.about__intro {
    font-size: 16px;
    margin: 10px 0;
    border-radius: 15px;
    padding: 10px;
    color: black;

    
}

.about__container {
    background-color: #dbdddf;
    padding: 10px 10px;
    border-radius: 15px

}

.about__heading {
    font-size: 25px;
    font-weight: 700;
    color: #354358;
    margin-left: 10px;
}

.about_title{
    font-size: 1.8rem;
    font-weight: 700;
    color: #354358;
    display: flex;
    justify-content: center;
}

h1.about_title{
    display: block;
    margin: auto;
    text-align: center;
    margin-top:20px;
    


}
h6.about__intro{
    color:black;
    font-size:16px;
}