/* Contact */ 
.contact-form {
  margin-left:auto;
  margin-right:auto;
  position: relative;
  max-width: 350px;
  border: 1px solid rgb(252, 252, 252);
  border-radius: 15px;
  padding: 20px;
  background-color: #e3e3e3;
  box-shadow:1px 1px 2px #999595;

}
.contact-form-title  {
  margin-bottom: 20px;
  font-size:20px;
  margin-top: 20px;
  text-align: center;
}
  .form-content {
    display: grid ;
    grid-template-rows: repeat(4, 1fr) 100px ;
    border:none

  }
  .body .form .input,
  .body .form .textarea {
    background: none;
    font-family: arial;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(122, 122, 116);
    border:none
  }
  #name{
    padding: 24px 0 12px;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;

  }
  #phone{
    border:none;
    border-radius: 10px;
    margin-bottom: 10px;

  }
  #company {
    border:none;
    border-radius: 10px;
    margin-bottom: 10px;

  }
  #email{
    border:none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 24px 0 12px;
    width: 100%;

  }
  .email-content {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgb(122, 122, 116);
    border:none;
  }
  #not-mail {
    display: none;
    position: absolute;
    top: 8px;
    color: red;
    right: 0;
    transform-origin: 50% 50%;
    border:none
  }
  @keyframes dongle {
    0% {
      transform: translate(0px, 0px);
    }
    10% {
      transform: translate(-10px, 0px);
    }
    20% {
      transform: translate(10px, 0px);
    }
    30% {
      transform: translate(-10px, 0px);
    }
    40% {
      transform: translate(10px, 0px);
    }
    50% {
      transform: translate(-10px, 0px);
    }
    60% {
      transform: translate(10px, 0px);
    }
    70% {
      transform: translate(-10px, 0px);
    }
    80% {
      transform: translate(10px, 0px);
    }
    90% {
      transform: translate(-10px, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  .form .contact-form .input#name {
    border: none!important;
  }


  #message{
    resize: none;
    padding: 24px 0;
    border:none;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .error::placeholder {
    color: red;
  }
  .end.form-message {
    margin-top: 10px;
    padding: 12px;
    opacity: 0;
    background: yellow;
    transition: 0.3s ease;
    color: black;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
}

.formButton{
  border-radius:5px;
  border:none; 
  padding:10px;
  background-color:#bec1c4;
  margin: auto;
  display: block;
  margin-bottom: 15px;
  margin-top: 20px;
}
@media (max-width: 720px) { 
  .contact-form {
    margin:auto
  }
}   
